[data-scroll-image-id='056269cd-1cc1-4b93-a475-aa2dd219a0de']{width:275px;min-width:275px;}
[data-scroll-image-id='02d357c5-fc71-45a9-b7f5-3c28a8f620ea']{width:235px;min-width:235px;}
[data-scroll-image-id='43b13a10-1e51-465d-87a9-86a76dd462ee']{width:187px;min-width:187px;}
